        body{
            font-family:Arial;
            background:#ffffff;
            display:flex;
            justify-content:center;
            margin-top:50px;
        }
        .app{
            background: rgb(224, 221, 221);
            padding:20px;
            width:300px;
            border-radius:10px;
            justify-content: center;
            
        }
        li{
            display:flex;
            justify-content:space-between;
            margin-top:10px;
        }
        .completed{
            text-decoration:line-through;
            color:rgb(176, 180, 178);
        }
        .yess{
            background:rgb(0, 255, 106);
            border-radius: 20%;
            border-color:rgb(0, 255, 106);
        }
        .noo{
            background:rgb(255, 1, 1);
            border-radius: 20%;
            border-color:rgb(255, 1, 1) ;
        }